ion-title {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
  text-shadow: 3px 3px 1px black;
}

h6{
  text-align: center;
  color:black;

}

ion-card{
  box-shadow: 3px 3px 1px #63626248;
}