ion-title {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
  text-shadow: 3px 3px 1px black;
}

h6 {
  text-align: center;
  color: rgb(19, 3, 77);
  font-size: large;
}

ion-card {
  box-shadow: 3px 3px 1px #63626248;
}

img {
  display: block;
  margin: 0px auto;
  width: 600px;
}

ion-card-content {
  color: rgb(2, 8, 17);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}
