<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      DOAÇÃO DE SANGUE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="never"></ion-searchbar>
  <img
    src="https://www.prefeitura.sp.gov.br/cidade/secretarias/upload/saude/doacao%20de%20sangue.jpg"
    alt=""
  />
  <br>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>COMO DOAR SANGUE</ion-label>
    </ion-item>
    
    <ion-card-content>
      <li>Para doar sangue, basta procurar as unidades de coleta de sangue, como os Hemocentros, para checar se você atende aos requisitos necessários para a doação.</li>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-thumbnail slot="start">
      <img
        src="http://www.ricbit.com/ilafox/idade_ricbit.jpg"
      />
    </ion-thumbnail>
    <ion-label>
      <h2>Ter entre 16 e 69 anos de idade.</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img
        src="https://w7.pngwing.com/pngs/943/207/png-transparent-weighing-scale-measurement-illustration-footprints-cartoon-says-miscellaneous-cartoon-character-photography.png"
      />
    </ion-thumbnail>
    <ion-label>
      <h2>Pesando mais de 50kg.</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img
        src="http://1.bp.blogspot.com/-eRV60Uv09Ig/UZExzvnEEoI/AAAAAAAAAhc/F7jR4Id1Nvc/s1600/alimentos-gordurosos.jpg"
      />
    </ion-thumbnail>
    <ion-label>
      <h2>Evitar alimentos gordurosos.</h2>
      <p> Três horas antes do exame.</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img
        src="https://media.istockphoto.com/vectors/man-sleeping-well-vector-cartoon-vector-id503516494"
      />
    </ion-thumbnail>
    <ion-label>
      <h2>Ter dormido pelo menos 6 horas nas últimas 24 horas.</h2>
    </ion-label>
  </ion-item>

</ion-content>
